In [1]:
#Adding Pandas dependencies 
import pandas as pd 



#SkilDrill- Iterate through the list of high schools and print out each high school, as shown in the following image.
#List of High Schools 
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for i in range(len(high_schools)):
    print(high_schools[i])

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
#skill drill - Iterate through the list of high schools and print out each high school, as shown in the following image.
for names in high_schools:
    print(names)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
#Skill Drill - terate through the list of dictionaries and print out each high school and their types, as shown in the following image.
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for high_school_dict in high_school_types:
    print(high_school_dict)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
#Creating Pandas Series for the highschool names list 

#Adding Pandas dependencies 
import pandas as pd 



# creating a list of high school names 
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]


#create pandas series from the list 
schools_series = pd.Series(high_schools)
schools_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [11]:
#Skill Drill:Like a list in Python, indexing can be used to get specific items from a Pandas Series.
# Iterate through the school_series and print out each high school.

print(schools_series)

print("\n")

for schools in schools_series:
    print(schools)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object


Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [12]:
# first method : Creating Pandas DataFrame for the list of panda series or to the dictionary  of High_school file . 

#setting up  dictionary 
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
print(high_school_dicts)


#Creating pandas DatafRame to the Dictionary of lists 
schools_DataFrame = pd.DataFrame(high_school_dicts)
schools_DataFrame

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'}, {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'}, {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'}, {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'}, {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [18]:
# second method - to create DataFrame for the dictionary list - by adding one list  at a time 

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

#initialize the new empty DataFrame 
schools_df =pd.DataFrame()

#adding the list one at a time ot the DataFrame
schools_df["Schools ID"] = school_id

#print it out 
print(schools_df)
print ("\n")

#Skill Drill - Adding School name and Type of school to the data Frame 
schools_df["School Name"] = school_name
print(schools_df)
print ("\n")
schools_df["Type"] = type_of_school
print(schools_df)

   Schools ID
0           0
1           1
2           2
3           3
4           4


   Schools ID            School Name
0           0      Huang High School
1           1   Figueroa High School
2           2    Shelton High School
3           3  Hernandez High School
4           4    Griffin High School


   Schools ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter

In [21]:
#third method  - to create a dataFrame out of high_school Dicitonary is first to  create a python dicionary from the 3 lists 

# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
print(high_schools_dict)

#SkillDrill   - convert the high_schools_dict to a DataFrame 
# to create a dataFrame for the python dictionary high_schools_dict 

highschooldict_df = pd.DataFrame(high_schools_dict)
print(highschooldict_df)

{'School ID': [0, 1, 2, 3, 4], 'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School'], 'type': ['District', 'District', 'Charter', 'District', 'Charter']}
   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# the Column attributes in Data Frame - display the header 

# To get the column names of a DataFrame, use df.columns. Here's how you would apply the columns attribute to the school_df DataFrame:

highschooldict_df.columns

schools_df.columns

Index(['Schools ID', 'School Name', 'Type'], dtype='object')

In [25]:
# index attributes in dataFrame : displays the left most margin to determin hte row count . 

# To get the indxes of the DataFrame, use df.index. Here's how you would apply the index attribute to the school_df DataFrame:

schools_df.index
# o/p - When you run this cell, the output is a RangeIndexthat contains the first and last index value, as well as the "step=1," or how often the index increments. 
#In this case, the index increments a value of 1 from the beginning index to the ending index.

RangeIndex(start=0, stop=5, step=1)

In [27]:
# Value Attributes in Data Frame : Displays the vlaues form the file _ all hte data row wise 

# to get the values of hte dstaFrame 
highschooldict_df.values
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [38]:
# Skill Drill -create a list for each column and add each list to a new Pandas DataFrame.

print(high_schools)

School_Id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
schoolID_df = pd.DataFrame(School_Id)
schoolID_df
print(schoolID_df)

School_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]
schoolname_df = pd.DataFrame(School_name)
schoolname_df
print(schoolname_df)

type_of_school = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]
type_df = pd.DataFrame(type_of_school)
type_df
print(type_df)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']
     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
                        0
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School
           0
0   District
1   District
2    Charter
3   District
4    Charter
5    Charter
6    Charter
7   District
8    Charter
9    Charter
10   Charter
11  District
12  District
13  District
14   Charter